{% extends 'studentbase.html' %}
{% load static %}
{% block student %}

<div class="row">
    <div class="col-sm-12">
        <h1 class="text-center">View Self Learning Material</h1>
        <table class="table">
            <tr>
                <th>S. No.</th>
                <th>Title</th>
                <th>Action</th>
            </tr>
            {% for s in slm %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{s.title}}</td>
                <td>
                    <a href="{{s.sm.url}}" target="_blank" class="btn btn-warning"><i class="fa-solid fa-eye mx-2"></i></a>
                    <a href="{{s.sm.url}}" download class="btn btn-primary"><i class="fa-solid fa-download mx-2"></i></a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}