{% extends 'teacherbase.html' %}
{% load static %}
{% block teacher %}

<div class="row">
    <div class="col-sm-12">
        <h1 class="text-center">Change Your Password </h1>
        <form method="post">
            {% csrf_token %}

            {% if msg %}
            <p class="text-light">{{msg}}</p>
            {% endif %}
            <table class="table">
                <tr>
                    <td>Enter Current Password</td>
                    <td><input required type="text" name="oldpassword" class="form-control"></td>
                </tr>
                <tr>
                    <td>Enter New Password</td>
                    <td><input required type="password" name="newpassword" class="form-control"></td>
                </tr>
                <tr>
                    <td>Confirm Password</td>
                    <td><input required type="text" name="cnfpassword" class="form-control"></td>
                </tr>
                <td colspan="2" class="text-center">
                    <button type="submit" class="btn btn-success"> Submit </button>
                </td>
            </table>
        </form>
    </div>
</div>

{% endblock %}