{% load static %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Teacher Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/adminstyle.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <script src="https://kit.fontawesome.com/ae360af17e.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="wrapper">
        <aside id="sidebar" class="js-sidebar">
            <!-- Content For Sidebar -->
            <div class="h-100">
                <div class="sidebar-logo">
                    <a href="{% url 'teacherapp:teacherhome' %}">Teacher Dashboard</a>
                </div>
                <ul class="sidebar-nav">
                    <li class="sidebar-header">Teacher Elements</li>
                    <li class="sidebar-item">
                        <a href="{% url 'teacherapp:teacherhome' %}" class="sidebar-link">
                            <i class="fa-solid fa-list pe-2"></i>
                            Dashboard
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link collapsed" data-bs-target="#pages" data-bs-toggle="collapse"
                            aria-expanded="false">
                            <i class="fa-solid fa-file-lines pe-2"></i>
                            Manage Attandence
                        </a>
                        <ul id="pages" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                            <li class="sidebar-item">
                                <a href="{% url 'teacherapp:addattend' %}" class="sidebar-link">Add Attandence</a>
                            </li>
                            <li class="sidebar-item">
                                <a href="{% url 'teacherapp:viewattendance' %}" class="sidebar-link">View Attandence</a>
                            </li>
                        </ul>
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link collapsed" data-bs-target="#studentsmanage" data-bs-toggle="collapse"
                            aria-expanded="false">
                            <i class="fa-solid fa-file-lines pe-2"></i>
                            Manage Students
                        </a>
                        <ul id="studentsmanage" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                            <li class="sidebar-item">
                                <a href="{% url 'teacherapp:addstudent' %}" class="sidebar-link">Add Students</a>
                            </li>
                            <li class="sidebar-item">
                                <a href="{% url 'teacherapp:viewstudent' %}" class="sidebar-link">View Students</a>
                            </li>
                        </ul>
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link collapsed" data-bs-target="#slm" data-bs-toggle="collapse"
                            aria-expanded="false">
                            <i class="fa-solid fa-graduation-cap"></i>
                            Manage Self Learning Material(SLM)
                        </a>
                        <ul id="slm" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                            <li class="sidebar-item">
                                <a href="{% url 'teacherapp:addslm' %}" class="sidebar-link">Add SLM</a>
                            </li>
                            <li class="sidebar-item">
                                <a href="{% url 'teacherapp:viewslm' %}" class="sidebar-link">View SLM</a>
                            </li>
                        </ul>
                    </li>
                    <li class="sidebar-item">
                        <a href="{% url 'teacherapp:teacherprofile' %}" class="sidebar-link">
                            <i class="fa-regular fa-id-badge"></i>
                            Update Profile
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a href="{% url 'teacherapp:tchangepass' %}" class="sidebar-link">
                            <i class="fa-solid fa-key"></i>
                            Change Password
                        </a>
                    </li>
                </ul>
            </div>
        </aside>
        <div class="main">
            <nav class="navbar navbar-expand px-3 border-bottom">
                <button class="btn" id="sidebar-toggle" type="button"><span class="navbar-toggler-icon"></span></button>
                <div class="navbar-collapse navbar">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a href="#" data-bs-toggle="dropdown" class="nav-icon pe-md-0">
                                <span class="me-2 text-warning">{{ teacher.name }}</span>
                                <i class="fa-solid fa-user"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end text-decoration-none">
                                <a href="{% url 'teacherapp:teacherprofile' %}" class="dropdown-item">Profile</a>
                                <a href="{% url 'teacherapp:teacherlogout' %}" class="dropdown-item">Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            <main class="content px-3 py-2">
                <div class="container-fluid">
                    {% block teacher %}

                    {% endblock %}
                </div>
            </main>
            <a href="#" class="theme-toggle">
                <i class="fa-regular fa-moon"></i>
                <i class="fa-regular fa-sun text-dark"></i>
            </a>
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row text-muted">
                        <div class="col-12 text-end">
                            <p class="mb-0">
                                <a href="#" class="text-muted"><strong>&copy; by Yash Varshney</strong></a>
                            </p>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/adminjs.js' %}"></script>
</body>

</html>