{% extends 'base.html' %}
{% load static %}

{% block title %}
ABOUT College
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-sm-12">
        <img src="{% static 'images/s9.png' %}" alt="Error" class="w-100 mx-auto img-fluid" />
    </div>
</div>
<div class="row my-5">
    <div class="col-sm-11 mx-auto">
        <div class="my-3 h1 text-primary">ABOUT US</div>
        <div class="fs-5">Government Polytechnic Roorkee, Baheri, Bareilly is committed to ‘Empower, Enthuse
            and Excel’ in
            providing
            quality education and ensuring that every child is taught the necessary values to guide him/her through
            the
            journey
            of life. We at GPBB College endow education for LIFE!
        </div>
    </div>
</div>
<div class="row my-5 py-5">
    <div class="col-sm-11 mx-auto">
        <div class="my-3 h1 text-primary">Who We Are</div>
        <div class="fs-5">Government Polytechnic Roorkee, Baheri, Bareilly, is spread over a lush green campus of
            2.16 acres.
            It
            offers
            an extensive range of facilities for the all-round development of every child. Every classroom of the school
            has
            Digital Smart Boards.

            We adopt a child-centric approach to education and recognize talent in our students. New, modern-day
            pedagogical
            concepts such as Design Thinking, Literacy and Numeracy Skills are part of the school’s curriculum. We
            stress on
            good values like compassion, empathy, kindness, solidarity and tolerance as much as we emphasize on
            intellect,
            wit,
            critical thinking, and analytical reasoning.
        </div>
    </div>
</div>

{% endblock %}