{% load static %}

<html>

<head>
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="shortcut icon" href="{% static 'images/logo.jpg' %}" type="image/x-icon">
    <script src="{% static 'js/all.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
    <style>
        .loginbtn {
            background-color: #07529c;
        }

        .loginbtn:hover {
            background-color: #131de2;
        }

        .abcd {
            transition: 0.7s;
        }

        .abcd:hover {
            background-color: rgb(148, 148, 228) !important;
            color: black !important;
            border-radius: 30px;
            transition: 0.7s;
        }

        #preloader {
            background: #111111 url("{% static 'images/loader.gif' %}") no-repeat center center;
            height: 100%;
            width: 100%;
            position: fixed;
            z-index: 9999;
            background-size: 30%;
        }
    </style>
    <script>
        window.addEventListener('load', function () {
            const loader = document.getElementById("preloader")
            if (loader) {
                loader.style.display = "none";
            }
        })
    </script>
</head>

<body>
    <!-- Preloader Start -->
    <div id="preloader"></div>
    <!-- Preloader End -->


    <div class="container-fluid">
        <!-- Header Start -->
        <div class="row py-3">
            <div class="col-sm-10 mx-auto">
                <div class="row">
                    <div class="col-sm-3">
                        <img src="{% static 'images/logo.jpg' %}" alt="Server Error" class="img-fluid w-50">
                    </div>
                    <div class="col-sm-9">
                        <div class="row pt-2">
                            <div class="col-sm-5 text-center">
                                <b class="text-primary">
                                    <i class="fas fa-phone fs-2"></i>Call Us
                                </b>
                                123456789 | 123456789
                            </div>
                            <div class="col-sm-6 text-center">
                                <b class="text-primary">
                                    <i class="fas fa-envelope fs-2"></i> Mail Us
                                </b>
                                abcd@gmail.com
                            </div>
                            <div class="col-sm-1">
                                <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
                            </div>
                        </div>
                        <!-- NavBar Start -->
                        <div class="row pt-2">
                            <div class="col-sm-9 mx-auto">
                                <nav class="navbar navbar-expand-lg">
                                    <div class="container-fluid">
                                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#navbarSupportedContent"
                                            aria-controls="navbarSupportedContent" aria-expanded="false"
                                            aria-label="Toggle navigation">
                                            <span class="navbar-toggler-icon"></span>
                                        </button>
                                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                                <li class="nav-item">
                                                    <a class="nav-link px-3 me-1 abcd bg-primary text-light rounded-3"
                                                        href="{% url 'index' %}">Home</a>
                                                </li>
                                                <li class="nav-item dropdown">
                                                    <a class="nav-link px-3 me-1 abcd bg-primary text-light rounded-3"
                                                        href="#" role="button" data-bs-toggle="dropdown"
                                                        aria-expanded="false">
                                                        About Us
                                                    </a>
                                                    <ul class="dropdown-menu">
                                                        <li>
                                                            <a class="dropdown-item" href="{% url 'VM' %}">
                                                                Vision & Mission
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href="{% url 'about' %}">
                                                                About College
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href="{% url 'founder' %}">
                                                                Founder's Message
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href="{% url 'chairman' %}">
                                                                About BTEUP
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href="{% url 'princi' %}">
                                                                Principal's Message
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href="{% url 'smteam' %}">
                                                                School Management Team Members
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link px-3 me-1 abcd bg-primary text-light rounded-3"
                                                        href="{% url 'contact' %}">
                                                        Contact Us
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link px-3 me-1 abcd bg-primary text-light rounded-3"
                                                        href="#">
                                                        BTEUP Portal
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link px-3 me-1 abcd bg-primary text-light rounded-3"
                                                        href="#">
                                                        Urise Portal
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </nav>
                            </div>
                        </div>
                        <!-- NavBar End -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->


        <!-- main start -->
        {% block body %}
        {% endblock %}
        <!-- main end -->


        <!-- Footer section start -->
        <div class="row bg-dark py-5">
            <div class="col-sm-10 mx-auto">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="py-3 ms-3">
                            <h5 class="text-light">About us</h5>
                            <ul class="list-unstyled footer-info" style="text-decoration: none; color: grey">
                                <li class="mt-2">
                                    <a href="tel:+91 8429054648" class="text-light" style="text-decoration: none"><i
                                            class="fa-solid fa-phone"></i> Ph:
                                        <span style="color: grey">+91-123456789</span></a><br />
                                </li>
                                <li class="mt-2">
                                    <a href="mailto:abcd@gmail.com" class="text-light" style="text-decoration: none"><i
                                            class="fa-solid fa-envelope"></i> Email:
                                        <span style="color: grey">abcd@gmail.com</span></a><br />
                                </li>
                                <li class="mt-2">
                                    <a href="#" class="text-light" style="text-decoration: none"><i
                                            class="fa-solid fa-location"></i>
                                        Location:
                                        <span style="color: grey">
                                            <span style="color: blanchedalmond;">
                                                Government Polytechnic Roorkee, Baheri, Bareilly:
                                            </span>
                                            Government Polytechnic Roorkee, Baheri, Bareilly
                                        </span>
                                    </a>
                                </li>
                            </ul>
                            <ul class="list-inline footer-socials" style="text-decoration: none; color: white">
                                <li class="list-inline-item">Follow us :</li>
                                <li class="list-inline-item">
                                    <a href="https://www.facebook.com" title="Facebook" target="_blank"
                                        class="text-light"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="https://twitter.com" title="Twitter" target="_blank" class="text-light"><i
                                            class="fab fa-twitter"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="https://www.instagram.com" title="Instagram" target="_blank"
                                        class="text-light"><i class="fab fa-instagram"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="https://api.whatsapp.com" title="Whatsapp" target="_blank"
                                        class="text-light"><i class="fab fa-whatsapp"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="https://www.youtube.com" title="Youtube" target="_blank"
                                        class="text-light"><i class="fab fa-youtube"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#" title="LinkedIn" target="_blank" class="text-light"><i
                                            class="fab fa-linkedin"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#" title="Pinterest" target="_blank" class="text-light"><i
                                            class="fab fa-pinterest"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="py-3 ms-5 mb-5 mb-lg-0" style="text-decoration: none; color: white">
                            <h5 class="text-light">Explore</h5>
                            <ul class="list-unstyled footer-links">
                                <li>
                                    <a href="{% url 'about' %}" style="text-decoration: none; color: grey">About
                                        us</a>
                                </li>
                                <li>
                                    <a href="{% url 'contact' %}" style="text-decoration: none; color: grey">Contact
                                        Us</a>
                                </li>
                                <li>
                                    <a href="#" style="text-decoration: none; color: grey">Services</a>
                                </li>
                                <li>
                                    <a href="#" style="text-decoration: none; color: grey">Support</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="ms-0 mb-5 py-3">
                            <h5 class="text-light"> Diploma Courses</h5>
                            <ul class="list-unstyled footer-links">
                                <li>
                                    <a href="#" style="text-decoration: none; color: grey">Computer Science and Engineering</a>
                                </li>
                                <li>
                                    <a href="#" style="text-decoration: none; color: grey">Mechanical Engineering(Production)</a>
                                </li>
                                <li>
                                    <a href="#" style="text-decoration: none; color: grey">Textile Technology</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="py-3 ms-5 mb-5">
                            <h5 class="text-light">Legal</h5>
                            <ul class="list-unstyled footer-links">
                                <li>
                                    <a href="#" style="text-decoration: none; color: grey">Terms & Condition</a>
                                </li>
                                <li>
                                    <a href="#" style="text-decoration: none; color: grey">Privacy policy</a>
                                </li>
                                <li>
                                    <a href="#" style="text-decoration: none; color: grey">Return policy</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer section End -->
        <!-- Copyright Section Start -->
        <div class="row mt-1 bg-dark">
            <div class="col-sm-10 mx-auto">
                <div class="row">
                    <div class="col-sm-12">
                        <p class="text-light text-end pt-3">
                            © Copyright All rights reserved.Crafted by
                            <a href="#" target="_blank" style="text-decoration: none; color: aqua">Yash Varshney</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Copyright Section End -->
    </div>
</body>

</html>