{% extends 'base.html' %}
{% load static %}

{% block title %}
CHAIRMAN'S MESSAGE
{% endblock %}

{% block body %}

<div class="row">
    <div class="col-sm-12">
        <img src="{% static 'images/sms21.png' %}" alt="Error" class="img-fluid w-100">
    </div>
</div>
<div class="row my-5">
    <div class="col-sm-4 mx-auto">
        <div class="h1 text-primary">Chairman’s Message</div>
    </div>
</div>
<div class="row mb-5 pb-5">
    <div class="col-sm-11 mx-auto">
        <div class="row">
            <div class="col-sm-3">
                <div class="card border-0 shadow-lg p-3">
                    <img src="{% static 'images/sms22.jpg' %}" alt="error" class="w-100 img-fluid rounded-4">
                </div>
                <div class="h4 text-primary text-center">Er. Ajay Chaudhary</div>
                <div class="fs-4 text-center">Chairman</div>
                <div class="fs-5 text-center">Seth Anandram Jaipuria School, Sadhu Campus – Barabanki</div>
            </div>
            <div class="col-sm-9">
                <div class="h3">Dear Students, Parents, and Well-wishers,</div>
                <div class="p-1">
                    “In education lies the key to unlocking the golden door of freedom.” These profound words of Dr.
                    A.P.J.
                    Abdul Kalam resonate deeply with our mission here at Seth Anandram Jaipuria School. As the chairman
                    of
                    our
                    esteemed institution, I am honored to lead a community dedicated to harnessing the transformative
                    power
                    of
                    education.
                </div>
                <div class="p-1">
                    We firmly believe that education is not just about imparting knowledge but also empowering
                    individuals
                    to
                    shape their destinies and change the world. In recognizing the pressing need for academic and
                    skill-based
                    learning in our community, we have tailored our curriculum to focus on practical expertise and
                    hands-on
                    experience.
                </div>
                <div class="p-1">
                    Our approach goes beyond traditional methods of education; we aim to equip our students with the
                    skills
                    they
                    need to thrive in today’s dynamic and competitive world. In addition, we will instil values and
                    attitudes
                    for learners to lead with confidence.
                </div>
                <div class="p-1">
                    Through a combination of innovative teaching methods and real-world applications, we nurture the
                    talents
                    and
                    aspirations of our students. Whether it’s developing academic rigour, mastering technical skills,
                    honing
                    creative talents, or building critical thinking abilities, our school provides a supportive
                    environment
                    where every student can flourish.
                </div>
                <div class="p-1">
                    As we forge ahead on this noble path, let us unlock the doors of opportunity and pave the way for a
                    brighter
                    tomorrow through the power of new-age education.
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}