{% extends 'base.html' %}
{% load static %}

{% block title %}
ABOUT College
{% endblock %}

{% block body %}

<div class="row">
    <div class="col-sm-12">
        <img src="{% static 'images/s9.png' %}" alt="Error" class="img-fluid w-100">
    </div>
</div>
<div class="row my-5">
    <div class="col-sm-4 mx-auto">
        <div class="h1 text-primary">BTEUP</div>
    </div>
</div>
<div class="row mb-5 pb-5">
    <div class="col-sm-11 mx-auto">
        <div class="row">
            <div class="col-sm-3">
                <div class="card border-0 shadow-lg p-3">
                    <img src="{% static 'images/logo.jpg' %}" alt="error" class="w-100 img-fluid rounded-4">
                </div>
                <div class="h4 text-primary text-center">Name</div>
                <div class="fs-4 text-center">POST</div>
                <div class="fs-5 text-center">Government Polytechnic Roorkee, Baheri, Bareilly</div>
            </div>
            <div class="col-sm-9">
                <div class="h3">Dear Students, Parents, and Well-wishers,</div>
                <div class="p-1">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere odio ipsa fugiat unde quia dolore, assumenda aliquid enim sit, labore ducimus ad rerum! Facere eaque similique fugit. Iure, assumenda? Ducimus.
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt omnis repudiandae est nemo quaerat. Qui, hic delectus. Corporis placeat illo numquam quod nam, a libero consectetur dolore. Error, nostrum placeat!
                </div>
                <div class="p-1">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere odio ipsa fugiat unde quia dolore, assumenda aliquid enim sit, labore ducimus ad rerum! Facere eaque similique fugit. Iure, assumenda? Ducimus.
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt omnis repudiandae est nemo quaerat. Qui, hic delectus. Corporis placeat illo numquam quod nam, a libero consectetur dolore. Error, nostrum placeat!
                </div>
                <div class="p-1">
                   Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere odio ipsa fugiat unde quia dolore, assumenda aliquid enim sit, labore ducimus ad rerum! Facere eaque similique fugit. Iure, assumenda? Ducimus.
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt omnis repudiandae est nemo quaerat. Qui, hic delectus. Corporis placeat illo numquam quod nam, a libero consectetur dolore. Error, nostrum placeat!
                </div>
                <div class="p-1">
                   Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere odio ipsa fugiat unde quia dolore, assumenda aliquid enim sit, labore ducimus ad rerum! Facere eaque similique fugit. Iure, assumenda? Ducimus.
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt omnis repudiandae est nemo quaerat. Qui, hic delectus. Corporis placeat illo numquam quod nam, a libero consectetur dolore. Error, nostrum placeat!
                </div>
                <div class="p-1">
                   Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere odio ipsa fugiat unde quia dolore, assumenda aliquid enim sit, labore ducimus ad rerum! Facere eaque similique fugit. Iure, assumenda? Ducimus.
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt omnis repudiandae est nemo quaerat. Qui, hic delectus. Corporis placeat illo numquam quod nam, a libero consectetur dolore. Error, nostrum placeat!
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}