{% extends 'base.html' %}
{% load static %}

{% block title %}
Contact Us
{% endblock %}

{% block body %}

<style>
    .back {
        background: url("{% static 'images/sms15.jpg' %}");
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>

<div class="row">
    <div class="col-sm-12">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7120.4082585547385!2d81.54194!3d26.833459!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x399a2b20aede4817%3A0x3b01691a0b580533!2sSeth%20Anandram%20Jaipuria%20School%2C%20Ved%20Campus%2C%20Barabanki%20Mob.%209415520130!5e0!3m2!1sen!2sin!4v1725885068114!5m2!1sen!2sin"
            width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>
<div class="row my-5 pb-5">
    <h1 class="text-center my-4">Contact Us</h1>
    <div class="col-sm-10 mx-auto shadow-lg back p-3">
        <div class="row">
            {% if msg %}
            <div class="col-sm-12">
                <div class="alert alert-success" role="alert">{{msg}}</div>
            </div>
            {% endif %}

            <div class="col-sm-6"></div>

            <div class="col-sm-6">
                <form method="post" class="row">
                    {% csrf_token %}
                    <div class="col-sm-12">
                        <label for="name"
                            class="form-label fw-bold bg-primary text-light px-3 rounded-4 mb-0">Name</label>
                        <input name="name" type="text" class="form-control" id="name" required>
                    </div>
                    <div class="col-sm-12 mt-3">
                        <label for="gender"
                            class="form-label fw-bold bg-primary text-light px-3 rounded-4">Gender</label>
                        <input name="gender" type="radio" value="male" class="form-check-input"> Male
                        <input name="gender" type="radio" value="female" class="form-check-input"> Female
                        <input name="gender" type="radio" value="other" class="form-check-input"> Other
                    </div>
                    <div class="col-sm-12">
                        <label for="address"
                            class="form-label fw-bold bg-primary text-light px-3 rounded-4 mb-0 mt-3">Address</label>
                        <textarea name="address" id="address" class="form-control"></textarea>
                    </div>
                    <div class="col-sm-12">
                        <label for="contactno"
                            class="form-label fw-bold bg-primary text-light px-3 rounded-4 mb-0 mt-3">Contact
                            No</label>
                        <input name="contactno" type="text" class="form-control" id="contactno" required>
                    </div>
                    <div class="col-sm-12">
                        <label for="email"
                            class="form-label fw-bold bg-primary text-light px-3 rounded-4 mb-0 mt-3">Email</label>
                        <input name="emailaddress" type="email" class="form-control" id="email">
                    </div>
                    <div class="col-sm-12">
                        <label for="enquiry"
                            class="form-label fw-bold bg-primary text-light px-3 rounded-4 mb-0 mt-3">Enquiry
                            Text</label>
                        <textarea name="enquirytext" rows="5" cols="100" class="form-control" id="enquiry" required
                            style="resize: none;"></textarea>
                    </div>
                    <div class="col-sm-12 text-center pb-4 mt-4">
                        <button type="submit" class="btn btn-primary px-4">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}