{% extends 'base.html' %}
{% load static %}

{% block title %}
About College
{% endblock %}

{% block body %}

<div class="row">
    <div class="col-sm-12">
        <img src="{% static 'images/s9.png' %}" alt="Error" class="img-fluid w-100">
    </div>
</div>
<div class="row mt-5 mb-4">
    <div class="col-sm-4 mx-auto">
        <div class="h1 text-primary">Founder’s Message</div>
    </div>
</div>
<div class="row">
    <div class="col-sm-11 mx-auto">
        <div class="row">
            <div class="col-sm-3">
                <div class="card border-0 shadow-lg p-1 mb-3">
                    <img src="{% static 'images/logo.jpg' %}" alt="Server Error"
                        class="p-2 w-100 img-fluid rounded-4 text-center">
                </div>
                <div class="h2 text-primary text-center">Name</div>
                <div class="h4 text-center">Founder</div>
            </div>
            <div class="col-sm-6 mt-4">
                <div class="h3">Dear Parents, Guardians and Students,</div>
                <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate vero nesciunt expedita error
                    culpa numquam eaque aspernatur debitis, ex facilis alias laboriosam aperiam ad quia consequuntur
                    nisi, totam doloribus sunt?
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum provident cum modi saepe ad quod
                    voluptatem? Facere, veniam asperiores commodi eaque saepe obcaecati iure. In impedit ea repellat
                    repellendus. Facilis!
                    <br>
                    <br>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, sit? Doloribus excepturi aliquid,
                    dolorum assumenda dicta asperiores fugit molestiae nemo magnam corrupti cupiditate eveniet eius
                    nesciunt ipsa veritatis totam tempore!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Error mollitia velit beatae sequi
                    voluptatem, quas aperiam voluptate aliquam? Recusandae beatae, voluptates minus nam iste perferendis
                    illum nihil deleniti officia ratione.
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card border-0 shadow-lg p-1 mb-3">
                    <img src="{% static 'images/logo.jpg' %}" alt="Server Error"
                        class="p-2 w-100 img-fluid rounded-4 text-center">
                </div>
                <div class="h2 text-primary text-center">Name</div>
                <div class="h4 text-center">Founder</div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row mb-5 pb-5">
    <div class="col-sm-11 mx-auto">
        <div>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius unde quibusdam magni culpa voluptas alias ipsa, adipisci consequuntur mollitia. Repellat, aspernatur atque. A nostrum ipsam culpa non eius nemo dolorum.  
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque fuga eaque quasi necessitatibus cum incidunt a. Numquam quisquam dolor ipsum praesentium quam eveniet facilis blanditiis et! Incidunt assumenda aliquid delectus!
        </div>
        <div>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius unde quibusdam magni culpa voluptas alias ipsa, adipisci consequuntur mollitia. Repellat, aspernatur atque. A nostrum ipsam culpa non eius nemo dolorum.  
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque fuga eaque quasi necessitatibus cum incidunt a. Numquam quisquam dolor ipsum praesentium quam eveniet facilis blanditiis et! Incidunt assumenda aliquid delectus!
        </div>
    </div>
</div>

{% endblock %}