{% extends 'base.html' %}
{% load static %}

{% block title %}
FOUNDER'S MESSAGE
{% endblock %}

{% block body %}

<div class="row">
    <div class="col-sm-12">
        <img src="{% static 'images/sms20.png' %}" alt="Error" class="img-fluid w-100">
    </div>
</div>
<div class="row mt-5 mb-4">
    <div class="col-sm-4 mx-auto">
        <div class="h1 text-primary">Founder’s Message</div>
    </div>
</div>
<div class="row">
    <div class="col-sm-11 mx-auto">
        <div class="row">
            <div class="col-sm-3">
                <div class="card border-0 shadow-lg p-1 mb-3">
                    <img src="{% static 'images/sms9.jpg' %}" alt="Server Error"
                        class="p-2 w-100 img-fluid rounded-4 text-center">
                </div>
                <div class="h2 text-primary text-center">Shri Sadhu Ram Ji</div>
                <div class="h4 text-center">Founder</div>
            </div>
            <div class="col-sm-6 mt-4">
                <div class="h3">Dear Parents, Guardians and Students,</div>
                <div>The journey of Seth Anandram Jaipuria School begins with a profound commitment to bridge the gap in
                    educational
                    access and quality that persists in rural areas. Having grown up in a similar environment, I
                    understand
                    first-hand
                    the challenges faced by students who aspire for a modern and English-based education but lack the
                    means to
                    pursue
                    it.
                    <br>
                    <br>
                    It is this very understanding that has fuelled our mission to establish a school that not only
                    imparts
                    knowledge
                    but also nurtures dreams. Our curriculum is meticulously designed to blend traditional values with
                    contemporary
                    teaching methodologies, ensuring that every student receives a holistic education that prepares them
                    for
                    success
                    in the 21st century.
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card border-0 shadow-lg p-1 mb-3">
                    <img src="{% static 'images/sms13.jpg' %}" alt="Server Error"
                        class="p-2 w-100 img-fluid rounded-4 text-center">
                </div>
                <div class="h2 text-primary text-center">Smt. Sushmawati Ji</div>
                <div class="h4 text-center">Founder</div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row mb-5 pb-5">
    <div class="col-sm-11 mx-auto">
        <div>
            At our school, we envision a learning environment where curiosity is encouraged, critical thinking is
            fostered,
            and creativity is celebrated. Through interactive classrooms, state-of-the-art facilities, and a dedicated
            team of
            educators, we aim to ignite a passion for learning that transcends boundaries and empowers students to
            realize
            their full potential.
        </div>
        <div>
            As we embark on this journey together, I invite you to join us in shaping a future where every child has
            access to
            quality education. Together, let us sow the seeds of knowledge, nurture the aspirations of our youth, and
            build a
            brighter tomorrow for generations to come.
            Thank you for entrusting us with the education of your children. We look forward to partnering with you in
            this
            noble endeavour.
        </div>
    </div>
</div>

{% endblock %}