{% extends 'base.html' %}
{% load static %}

{% block title %}
PRINCIPAL'S MESSAGE
{% endblock %}

{% block body %}

<div class="row">
    <div class="col-sm-12">
        <img src="{% static 'images/s9.png' %}" alt="Error" class="img-fluid w-100">
    </div>
</div>

<div class="row my-4">
    <div class="col-sm-4 mx-auto">
        <div class="h1 text-primary">Principal’s Message</div>
    </div>
</div>

<div class="row mb-5 pb-5">
    <div class="col-sm-10 mx-auto">
        <div class="row">
            <div class="col-sm-3">
                <div class="card border-0 shadow-lg p-3 mb-3">
                    <img src="{% static 'images/logo.jpg' %}" alt="error" class="w-100 rounded-3 img-fluid">
                </div>
                <div class="h4 text-primary text-center mb-0">Name</div>
                <div class="fs-5 text-center">Principal</div>
                <div class="text-center">Government Polytechnic Roorkee, Baheri, Bareilly</div>
            </div>
            <div class="col-sm-9">
                <div class="p-1">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius unde quibusdam magni culpa voluptas
                    alias ipsa, adipisci consequuntur mollitia. Repellat, aspernatur atque. A nostrum ipsam culpa non
                    eius nemo dolorum.
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque fuga eaque quasi necessitatibus cum
                    incidunt a. Numquam quisquam dolor ipsum praesentium quam eveniet facilis blanditiis et! Incidunt
                    assumenda aliquid delectus!
                </div>
                <div class="p-1">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius unde quibusdam magni culpa voluptas
                    alias ipsa, adipisci consequuntur mollitia. Repellat, aspernatur atque. A nostrum ipsam culpa non
                    eius nemo dolorum.
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque fuga eaque quasi necessitatibus cum
                    incidunt a. Numquam quisquam dolor ipsum praesentium quam eveniet facilis blanditiis et! Incidunt
                    assumenda aliquid delectus!
                </div>
                <div class="p-1">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius unde quibusdam magni culpa voluptas
                    alias ipsa, adipisci consequuntur mollitia. Repellat, aspernatur atque. A nostrum ipsam culpa non
                    eius nemo dolorum.
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque fuga eaque quasi necessitatibus cum
                    incidunt a. Numquam quisquam dolor ipsum praesentium quam eveniet facilis blanditiis et! Incidunt
                    assumenda aliquid delectus!
                </div>
                <div class="p-1">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius unde quibusdam magni culpa voluptas
                    alias ipsa, adipisci consequuntur mollitia. Repellat, aspernatur atque. A nostrum ipsam culpa non
                    eius nemo dolorum.
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque fuga eaque quasi necessitatibus cum
                    incidunt a. Numquam quisquam dolor ipsum praesentium quam eveniet facilis blanditiis et! Incidunt
                    assumenda aliquid delectus!
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}