{% extends 'base.html' %}
{% load static %}

{% block title %}
PRINCIPAL'S MESSAGE
{% endblock %}

{% block body %}

<div class="row">
    <div class="col-sm-12">
        <img src="{% static 'images/sms23.png' %}" alt="Error" class="img-fluid w-100">
    </div>
</div>

<div class="row my-4">
    <div class="col-sm-4 mx-auto">
        <div class="h1 text-primary">Principal’s Message</div>
    </div>
</div>

<div class="row mb-5 pb-5">
    <div class="col-sm-10 mx-auto">
        <div class="row">
            <div class="col-sm-3">
                <div class="card border-0 shadow-lg p-3 mb-3">
                    <img src="{% static 'images/sms24.jpeg' %}" alt="error" class="w-100 rounded-3 img-fluid">
                </div>
                <div class="h4 text-primary text-center mb-0">Ms. Kamla Pal</div>
                <div class="fs-5 text-center">Principal</div>
                <div class="text-center">Seth Anandram Jaipuria School, Sadhu Campus – Barabanki</div>
            </div>
            <div class="col-sm-9">
                <div class="p-1">
                    As you explore our offerings, you’ll discover answers to your initial inquiries about our school,
                    academic programs, and student life. Serving as the Principal, I am honored to be part of an
                    educational institution where every stakeholder is a learner, and each day presents an opportunity
                    for discovery. We view ourselves as a community of learners, where teachers, parents, and staff are
                    actively engaged in the learning process.
                </div>
                <div class="p-1">
                    Maintaining high standards, I am committed to understanding and enhancing the educational process.
                    We employ a dual strategy approach—Love and Logic—to create a positive learning environment. Love
                    fosters trusting relationships, ensuring students feel respected and valued, while Logic instills
                    personal responsibility, self-control, decision-making skills, self-confidence, and
                    character-building with high moral values.
                </div>
                <div class="p-1">
                    Your child’s learning journey is a collaborative effort between home and school. We believe that a
                    strong partnership enhances your child’s overall experience. Learning is inherently social, and I
                    eagerly anticipate working with you to create a school where parents are always welcome, students
                    engage in meaningful learning, and staff members are valued for their contributions.
                </div>
                <div class="p-1">
                    Together, we aim to uphold a standard of excellence, promote a positive learning atmosphere, and
                    foster an environment where everyone can thrive. I look forward to the collective efforts of our
                    entire community as we embark on this educational journey together.
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}