{% extends 'base.html' %}
{% load static %}

{% block title %}
VISION & MISSION
{% endblock %}

{% block body %}

<div class="row my-5 p-4">
    <div class="col-sm-6">
        <img src="{% static 'images/sms7.jpg' %}" alt="Error" class="ms-5 w-75 img-fluid" />
    </div>
    <div class="col-sm-6 my-auto">
        <div class="my-3 h1 text-primary">VISION</div>
        <div class="fs-5">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius unde quibusdam magni culpa
            voluptas alias ipsa, adipisci consequuntur mollitia. Repellat, aspernatur atque. A nostrum ipsam culpa non
            eius nemo dolorum.
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque fuga eaque quasi necessitatibus cum incidunt
            a. Numquam quisquam dolor ipsum praesentium quam eveniet facilis blanditiis et! Incidunt assumenda aliquid
            delectus!
        </div>
    </div>
</div>
<div class="row my-5 pb-5 p-4">
    <div class="col-sm-6 my-auto">
        <div class="h1 text-primary my-3">MISSION</div>
        <div class="fs-5">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius unde quibusdam magni culpa voluptas alias
            ipsa, adipisci consequuntur mollitia. Repellat, aspernatur atque. A nostrum ipsam culpa non eius nemo
            dolorum.
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque fuga eaque quasi necessitatibus cum incidunt
            a. Numquam quisquam dolor ipsum praesentium quam eveniet facilis blanditiis et! Incidunt assumenda aliquid
            delectus!
        </div>
    </div>
    <div class="col-sm-6">
        <img src="{% static 'images/sms11.jpg' %}" alt="Error" class="ms-5 w-75 img-fluid" />
    </div>
</div>

{% endblock %}