{% extends 'base.html' %}
{% load static %}

{% block title %}
VISION & MISSION
{% endblock %}

{% block body %}

<div class="row my-5 p-4">
    <div class="col-sm-6">
        <img src="{% static 'images/sms7.jpg' %}" alt="Error" class="ms-5 w-75 img-fluid" />
    </div>
    <div class="col-sm-6 my-auto">
        <div class="my-3 h1 text-primary">VISION</div>
        <div class="fs-5">We aim to nurture happy and confident children by providing child- centric learning. Our
            endeavor is to promote creativity, environmental sensitivity and academic excellence. We help inculcate a
            spirit of lifelong learning for our children to become effective change agents.
        </div>
    </div>
</div>
<div class="row my-5 pb-5 p-4">
    <div class="col-sm-6 my-auto">
        <div class="h1 text-primary my-3">MISSION</div>
        <div class="fs-5">
            We repeatedly strive towards excellence in education by adopting a holistic and dynamic curriculum and
            providing
            a
            safe and nurturing environment to all learners. We recognize the significance of imparting a world class
            educational
            experience that prepares children for the future. We are a school that celebrates excellence and espouses
            traditional Indian values in students. Our prime mission is to ensure that the children are academically
            proficient,
            responsive to Indian culture and heritage, and display a scientific temper in an environment of sharing and
            caring.
        </div>
    </div>
    <div class="col-sm-6">
        <img src="{% static 'images/sms11.jpg' %}" alt="Error" class="ms-5 w-75 img-fluid" />
    </div>
</div>

{% endblock %}