{% extends 'adminbase.html' %}
{% load static %}
{% block admin %}

<div class="row">
    <div class="col-sm-12">
        <h1 class="text-center">View Enquiries</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>S.No.</th>
                    <th>Name</th>
                    <th>Gender</th>
                    <th>Address</th>
                    <th>Contact Number</th>
                    <th>E-mail</th>
                    <th>Enquiry Text</th>
                    <th>Enquiry Date</th>
                    <th>Action</th>
                </tr>
                {% for e in enq %}
                <tr>
                    <td>{{e.id}}</td>
                    <td>{{e.name}}</td>
                    <td>{{e.gender}}</td>
                    <td>{{e.address}}</td>
                    <td>{{e.contactno}}</td>
                    <td>{{e.emailaddress}}</td>
                    <td>{{e.enquirytext}}</td>
                    <td>{{e.enquirydate}}</td>
                    <td><button><a href="{% url 'adminapp:delenq' id=e.id %}">Delete</a></button></td>
                </tr>
                {% endfor %}
            </thead>
        </table>
    </div>
</div>
{% endblock %}